<!DOCTYPE html>
<html ng-app="patrick">
<head>
 <meta charset="utf-8">
 <title>Angular Reddit clone</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular.js">
 </script>
 <script type="text/javascript" src="index.js">
 </script>
</head>
<body ng-controller = "MyController">
 <h1>Reddit Clone</h1>
 <p>
   <input type="text" ng-model="pizzle.title" placeholder='Search'>
 </p>

 <i class="fa fa-plus"><input type='submit' value ='Submit Post'ng-click="ToggleForm()"></i>

 <div ng-show="showForm">
   <form ng-submit="submitPost()">
     Title<br>
     <input type="text" ng-model="title" placeholder="Title">
     <br>
     Author<br>
     <input type="text" ng-model="author" placeholder="Author">
     <br>
     Image URL<br>
     <input type="text" ng-model="image" placeholder="Image URL">
     <br>
     Description<br>
     <input type="text" ng-model="description" placeholder="Description">
     <br>
     <input type="submit" ng-click='showForm=false' value='Submit Post!'>
   </form>
 </div>

 <div ng-repeat = "post in posts | filter:pizzle">
   <p>{{post.title}} | {{post.votes}}
   <i ng-click='post.votes = post.votes +1' class="fa fa-level-up"></i>
   <i ng-click='post.votes = post.votes -1' class="fa fa-level-down"></i>
   </p>
   <p>By {{post.author}}</p>
   <img src='{{post.image}}'>
   <p>{{post.description}}</p>
   <div>
     <i class="fa fa-calendar">{{post.date}} |</i>
     <div ng-controller='commentController'>
       <i ng-click='ToggleComment()' class="fa fa-comments">comments |</i>
       <div ng-show='showComments' ng-repeat = 'comment in comments'>
         <p>{{comment.comment}}</p>
         <p>{{comment.commentAuthor}}</p>
       </div>
       <i class="fa fa-pencil" ng-click="ToggleCommentForm()">add comment</i>
       <div ng-show="newComments">
         <form ng-submit="submitComment()">
           Author<br>
           <input type="text" ng-model="commentAuthor" placeholder="Username">
           <br>
           Text<br>
           <input type="text" ng-model="comment" placeholder="Comment text">
           <br>
           <input type="submit" ng-click='newComments=false' value='Submit Comment!'>
         </form>
       </div>
    </div>

   </div>

   <hr>
 </div>

  </body>
 </html>
