<!DOCTYPE html>
<html ng-app="patrick">
<head>
 <meta charset="utf-8">
 <title>Angular Reddit clone</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular.js"></script>
 <script type="text/javascript" src="index.js"></script>
 <link rel="stylesheet" href="style.css">
 <link rel="stylesheet" href="https://necolas.github.io/normalize.css/3.0.3/normalize.css">
</head>
<body ng-controller = "MyController">
  <nav class='header'>
    <h2>Reddit Clone</h2>
    <div class ='search'>
      <i class="fa fa-plus" id='plusIcon'ng-click="ToggleForm()">Submit Post</i>
      <input class= 'searchBar' type="text" ng-model="pizzle.title" placeholder='Search'>
    </div>
  </nav>

 <div ng-show="showForm">
   <form ng-submit="submitPost()">
     Title<br>
     <input class=postForm type="text" ng-model="title" placeholder="Title" required>
     <br>
     Author<br>
     <input type="text" class=postForm ng-model="author" placeholder="Author" required>
     <br>
     Image URL<br>
     <input type="text" class=postForm ng-model="image" placeholder="Image URL" required>
     <br>
     Description<br>
     <input type="text" class=postForm ng-model="description" placeholder="Description" required>
     <br>
     <input type="submit" ng-click='ToggleForm()' value='Submit Post!'>
   </form>
 </div>

 <div class='posts' ng-repeat = "post in posts | filter:pizzle | orderBy:'-votes'">
   <img src='{{post.image}}'>
   <p class='author'>By {{post.author}}</p>
   <p class='postTitle'>{{post.title}} | {{post.votes | number}}
     <i ng-click='post.votes = post.votes +1' class="fa fa-level-up"></i>
     <i ng-click='post.votes = post.votes -1' class="fa fa-level-down"></i>
   </p>
   <p class='postDescription'>{{post.description}}</p>
   <div>
     <div ng-controller='commentController'>
       <i class="fa fa-calendar" id='calendarIcon'>{{post.date | date:"MM/dd/yyyy 'at' h:mma"}} |</i>
       <i ng-click='ToggleComment()' class="fa fa-comments">comments | {{comment.commentNumber | number}}</i>
       <i class="fa fa-pencil" ng-click="ToggleCommentForm()">add comment</i>
       <div ng-show="newComments">
         <form ng-submit="submitComment()">
           Author<br>
           <input type="text" ng-model="commentAuthor" placeholder="Username" required>
           <br>
           Text<br>
           <input type="text" ng-model="comment" placeholder="Comment text" required>
           <br>
           <input type="submit" ng-click='ToggleCommentForm()' value='Submit Comment!'>
         </form>
       </div>
       <div id ='showComments'ng-show='showComments' ng-repeat = 'comment in comments'>
         <p>Author: {{comment.commentAuthor}}</p>
         <p>Comment: {{comment.comment}}</p>
       </div>
    </div>

   </div>

   <hr>
 </div>

  </body>
 </html>
