*{
  font-family: 'Open Sans';
}

body{
  overflow-x: hidden;
}

.ng-enter {
  animation: fadeInRight .5s;
}

.ng-leave {
  animation: fadeOutRight .5s;
}

.ng-hide {
  transition:0.5s linear all;
  opacity:0;
}

.ng-hide-remove {
  transition-delay: 0.2s;
  transition-duration:0;
  animation: fadeInRight .5s;
}

.header{
  background-color: #CEE3F8;
  padding: 1px 0px 25px 20px;
  margin-bottom: 25px;
  width: 100vw;
  height: 5vh;
  font-size: 15px;
}

.search{
  position: relative;
  left: 170px;
  bottom: 40px;
}

.searchBar{
  margin-left: 35px;
  border-radius: 3px;
}

form{
  margin-left: 10vw;
}

.postForm{
  width: 79.6vw;
  height: 3vh;
  border-radius: 5px;
  margin: 5px 0px 10px 0px
}

.posts{
  background-color: #EFF7FF;
  border-radius: 5px;
  width: 79.6vw;
  height: auto;
  margin-left: 10vw;
  margin-top: 20px;
}

.newComments{
  padding-left: 26.5vw;
}

img{
  height: 150px;
  width: 150px;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 10px;
  border-radius: 3px;
  float: left;
}

.author{
  margin-right: 25px;
  float: right;
}

#showComments{
  background-color: #CEE3F8;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 12.5vw;
  padding-left: 10px;
  width: 50vw;
}

.upVotes{
  color: green;
}

.downVotes{
  color: red;
}
